/* ----------------------------------------------------------------------------
 * Variables
 * @package PP
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 *
 * Fonts
 *
 * // @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');
 *
 * ------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------
 * Ubuntu Family
 * ------------------------------------------------------------------------- */
// $f1_lit : "U_lit", "Ul_lit", "sans-serif";

$f1_lit : "Ubuntu", "sans-serif"; //300
$f1_reg : "Ubuntu", "sans-serif"; //400
$f1_med : "Ubuntu", "sans-serif"; //500
$f1_bold: "Ubuntu", "sans-serif"; //700

/* ----------------------------------------------------------------------------
 * Roboto Slab Family
 * ------------------------------------------------------------------------- */

$f2_thin: "Roboto Slab", "sans-serif"; //100
$f2_lit : "Roboto Slab", "sans-serif"; //300
$f2_reg : "Roboto Slab", "sans-serif"; //400
$f2_bold: "Roboto Slab", "sans-serif"; //700



/* ----------------------------------------------------------------------------
 * Colors
 * ------------------------------------------------------------------------- */

// Colors
$c1 		: #dedede;
$c2 		: #292929;

$w			: #ffffff;
$b			: #000000;
$gb			: #686868;
$g  		: #35ad68;
$y			: #FFFDD2;


$tw			: rgba(255, 255, 255, 0.17); //translucent white.
$tb			: rgba(18, 18, 18, 0.21); //translucent black

$dtw		: rgba(255, 255, 255, 0.4); //dark translucent white.

$btn		: #686868; //button in normal state
$btn_hover	: #3F3F3F; //button hover

/* ----------------------------------------------------------------------------
 * Responsive
 * ------------------------------------------------------------------------- */

 $min240 : 	"min-width:240px";
 $min320 : 	"min-width:320px";
 $min480 : 	"min-width:480px";
 $min480 : 	"min-width:480px";
 $min768 : 	"min-width:768px";
 $min1024: 	"min-width:1024px";
 $min1280: 	"min-width:1280px";
 $min1500: 	"min-width:1500px";

 /* ----------------------------------------------------------------------------
 * Responsive
 * Usage

	@include r(240)  { }
	@include r(320)  { }
	@include r(480)  { }
	@include r(768)  { }
	@include r(1024) { }
	@include r(1280) { }


  * ------------------------------------------------------------------------- */

